@charset "UTF-8";
/* CSS Document */
.Centered {
  position: absolute;
  top: 20%;
	left: 70%;
	transform: translate(-50%, -50%);
  color:mintcream;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 30px}
a:hover {font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 30px; color: aliceblue}